body {
    width: 100%;
    max-width: 1500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}

.headerContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 10px;
}

.strLogo {
    /* width: 100%; */
    max-width: 250px;
    height: auto;
}
